<div class="championnat-wrapper" *ngIf="championnat$ | async as championnat">
  <h2>{{ championnat.nom }} ({{ championnat.code }})</h2>
  <p>Pays : {{ championnat.pays }}</p>

  <h4>Saison actuelle</h4>
  <ul>
    <li>Année : {{ championnat.currentSeason.year }}</li>
    <li>Début : {{ championnat.currentSeason.startDate }}</li>
    <li>Fin : {{ championnat.currentSeason.endDate }}</li>
  </ul>
  <!-- lien interne, reste dans ChampionnatComponent -->
  <a [routerLink]="['equipes']"
    routerLinkActive="font-bold underline">
    Voir les équipes
  </a>
  <!-- nouveau lien vers MatchdayComponent -->
  <a [routerLink]="['journees', championnat.currentSeason.year]"
    routerLinkActive="font-bold underline">
    Calendrier / Journées
  </a>

  <br>
  <button (click)="onSync()">🔄 Synchroniser avec l'API</button>
</div>
<!-- contenu de la vue enfant -->
<router-outlet></router-outlet>